@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --color-primary: #605bff;
  --color-primary-bg: #EFEFFF;

  /* background */
  --color--bg: #FAFAFB;
  --gray-icon: #9A9AA9;
  --gray-light-icon: #CDCCD4;

  /* Secondary Colors */
  --color-secondary: #ff8f6b;
  --color-secondary-bg: #fff4f0;

  /* Icon and first Colors */
  --color-first-blue: #5b93ff;
  --color-first-blue-light: #eff4ff;

  /* Icon and second Colors */
  --color-second-blue: #26C0E2;
  --color-second-blue-light: #E9F9FC;

  /* Highlight Colors */
  --color-highlight-yellow: #ffc327;
  --color-highlight-yellow-light: #fff7e1;

  /* status */
  --color-error: #e71d36;
  --color-error-light: #fef4f5;
  --color-error-second-light: #FF6A77;


  --color-success: #3a974c;
  --color-success-light: #ebf5ed;

  --font-size-sm: 0.8rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 4rem;
  --font-size-7xl: 5rem;

  --icon--sm: 16px;
  --icon--base: 20px;
  --icon--lg: 24px;
  --icon-xl: 32px;
  --icon-2xl: 40px;
}

@layer components {
  .button-style {
    @apply bg-primary rounded-lg transition-all px-4 ease-in-out !h-[40px] duration-200 cursor-pointer  hover:bg-primary-hover disabled:cursor-not-allowed text-white disabled:bg-[#808080] disabled:hover:bg-[#808080];
  }

  .animate {
    @apply transition-all duration-200 ease-linear;
  }
}

.muirtl-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  overflow: unset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: #fff !important;
}

/* Custom scrollbar for Webkit browsers */
div::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width of the scrollbar */
}

div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
}

div::-webkit-scrollbar-thumb {
  background: #20588d; /* Scrollbar thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

div::-webkit-scrollbar-thumb:hover {
  background: #1a4d8d; /* Changes color on hover */
}

/* Custom scrollbar for Webkit browsers */
html::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width of the scrollbar */
}

html::-webkit-scrollbar-track {
  background: #e6e6e6; /* Track background color */
}

html::-webkit-scrollbar-thumb {
  background: #20588d; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background: #1a4d8d; /* Changes color on hover */
}
