@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #20588d;
  --color-primary-hover: #163E63;
  --color-primary-5: #f8f4fb;
  --color-primary-lightBorder: #e2ccf4;
  --color-primary-light-bg: #eaeefb;
  --color-primary-5: #f2e9f9;
  --color-primary-50: #eee2f9;
  --color-secondary: #007ea7;
  --color-secondary-bg: #effbff;
  --color-secondary-hover: #006788;
  --color-primary_bg: #f6effb;
  --color-middle-border: #e4e4e4;
  --color-secondary-lightHoverBg: #f6effb;
  --color-low-border: #f0f0f0;
  --color-light-border: #fafafa;
  --color-secondary-lightBorder: #d9f1f9;
  --color-primary-100: #e2ccf4;
  --color-main-background: #ffffff;
  --color-main-text: #111111;
  --color-secondary-text: #717888;
  --color-text-grade3: #767676;
  --color-primarySidebarBg: #faf8fc;
  --color-primary-light-select-bg: #f3eafb;
  --color-primary-sidebar-bg: #faf8fc;
  --color-text-grade2: #444444;
  --color-low-border-bg: #f2f2f2;
  --color-text-placeholder: #bdbdbd;

  --font-size-sm: 0.8rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 4rem;
    --font-size-7xl: 5rem;

    --icon--sm: 16px;
    --icon--base: 20px;
    --icon--lg: 24px;
    --icon-xl: 32px;
    --icon-2xl: 40px;
}

@layer components {
  .button-style {
    @apply bg-primary rounded-lg transition-all px-4 ease-in-out !h-[40px] duration-200 cursor-pointer  hover:bg-primary-hover disabled:cursor-not-allowed text-white disabled:bg-[#808080] disabled:hover:bg-[#808080];
  }

  .animate {
    @apply transition-all duration-200 ease-linear;
  }
}

.muirtl-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  overflow: unset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: #fff !important;
}

/* Custom scrollbar for Webkit browsers */
div::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width of the scrollbar */
}

div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
}

div::-webkit-scrollbar-thumb {
  background: #20588d; /* Scrollbar thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

div::-webkit-scrollbar-thumb:hover {
  background: #1a4d8d; /* Changes color on hover */
}

/* Custom scrollbar for Webkit browsers */
html::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width of the scrollbar */
}

html::-webkit-scrollbar-track {
  background: #e6e6e6; /* Track background color */
}

html::-webkit-scrollbar-thumb {
  background: #20588d; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background: #1a4d8d; /* Changes color on hover */
}
